<h1>コメント詳細</h1>
  <% if @comment.title.present? %>
    <p>タイトル：<%= @comment.title %></p>
  <% else %>
    <p>タイトル：無題</p>
  <% end %>
  <p>From：<%= @comment.user.name %></p>
  <p><%= @comment.content %></p>
  <p><%= @comment.image %></p>
  <hr>

<%= link_to "戻る", post_comment_path %>