<h4>コメント詳細</h4>

<div class="show-comment-area mx-auto p-3">
  <p class="comment-date"><%= l @comment.created_at %></p>
  <% if @comment.title.present? %>
    <p>&emsp;タイトル：<%= @comment.title %></p>
  <% else %>
    <p>&emsp;タイトル：無題</p>
  <% end %>
  <p>&emsp;From：<%= @comment.user.name %></p>
  <p><%= simple_format(@comment.content) %></p>
  <p><%= @comment.image %></p>

  <% if current_user.id == @comment.user_id %>
    <div class="comment-icon">
      <%= link_to edit_post_comment_path do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
      <%= link_to post_comment_path, method: :delete, data: { confirm: "削除しますか？" } do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  <% end %>
</div>

<hr>

<%= link_to "一覧へ戻る", post_comments_path, class:"w-100 btn-back" %>