<div class="card-base col-md-6 col-lg-4">
  <div class="card mx-auto">
    <% if post.image? %>
      <img src="<%= post.image_url %>" class="card-img-top img">
    <% else %>
    <div class="img-area">
      <img src="/assets/images/default.png" class="card-img-top img">
      <p class="img-text">画像は未設定です</p>
    </div>
    <% end %>

    <div class="card-bot">
      <h5 class="card-title"><%= simple_format(post.title) %></h5>
      <p class="card-text">投稿者：<%= post.user.name %></p>
      <p class="card-text">分類：<%= post.genre_i18n %></p>

      <div class="btn-area">
        <div class="show-btn-area">
          <%= link_to("詳細", "/posts/#{post.id}", class: "show-btn")%>
        </div>
        <div class="like-btn-area" id="post-<%= post.id %>">
          <% if post.liked_by?(current_user) %>
            <%= render "like", post: post %>
          <% else %>
            <%= render "dislike", post: post %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>