<%= render "layouts/logo_serch_area" %>
<h4>レシピ一覧（<%= index_title(params[:genre]) %>）</h4>

<%= paginate @posts %>

<div class="row d-flex align-items-center">
  <%= render partial: "post", collection: @posts %>
</div>

<%= paginate @posts %>


  