<h3>レシピ詳細</h3>
<div class="recipe-base mx-auto row">
  <div class="recipe-title-area col-md-8">
    <p class="mt-0 mb-0 recipe-title"><%= @post.title %></p>
  </div>
  <div class="col-md-4 show-like-btn-area">
    <a href="#" class="like-btn w-100">お気に入り登録</a>
  </div>

  <div class="show-top-left col-md-6">
    <img src="<%= @post.image_url %>" class="show-img">
  </div>
  <div class="show-head-right col-md-6">
    <div>
      <span class="caption">分類：</span><span><%= @post.genre_i18n %></span>
    </div>
    <div>
      <span class="caption">投稿者：</span><span><%= @post.user.name %></span>
    </div>
    <div class="material">
      <span class="caption">使用する材料：</span>
      <div class="show-content"><%= simple_format(@post.material) %></div>
    </div>
  </div>
  <div class="show-recipe col-12">
    <span class="caption">作り方：</span>
    <div class="show-content"><%= simple_format(@post.recipe) %></div>
  </div>
  <div class="show-video col-12">
    <span class="caption">作り方動画：</span>
    <p><%= @post.video %></p>
  </div>
  <% if current_user.id == @post.user_id %>
    <%= link_to t(".update"), edit_post_path, class: "edit-btn w-100" %>
  <% end %>
</div>
<hr>
<p>
<%= link_to "この記事にコメントする", new_post_comment_path(@post) %>
<%= link_to  "投稿されたコメントを見る", post_comments_path(@post) %>
</p>