<h4>レシピ詳細</h4>
<div class="recipe-base mx-auto row">
  <div class="recipe-title-area col-md-8">
    <p class="mt-0 mb-0 recipe-title"><%= @post.title %></p>
  </div>
  <div class="col-md-4 like-btn-show" id="post-<%= @post.id %>">
    <% if @post.liked_by?(current_user) %>
      <%= render "like", post: @post %>
    <% else %>
      <%= render "dislike", post: @post %>
    <% end %>
  </div>

  <div class="show-top-left col-md-6 px-0">
    <% if @post.image? %>
      <img src="<%= @post.image_url %>" class="show-img">
    <% else %>
      <img src="/assets/images/default.png" class="show-img">
      <p class="img-text">画像は未設定です</p>
    <% end %>
  </div>
  <div class="show-head-right col-md-5">
    <div class="caption-area">
      <span class="caption">分類：</span><span><%= @post.genre_i18n %></span>
    </div>
    <div class="caption-area">
      <span class="caption">投稿者：</span><span><%= @post.user.name %></span>
    </div class="caption-area">
    <div class="caption-area">
      <p class="caption">使用する材料：</p>
      <div class="show-content"><%= simple_format(@post.material) %></div>
    </div>
  </div>
  <div class="caption-area show-recipe col-12">
    <p class="caption">作り方：</p>
    <div class="show-content"><%= simple_format(@post.recipe) %></div>
  </div>

    <div class="col-12">
      <p class="caption">作り方動画：</p>
      <div class="video-area mx-auto">
        <% if @post.video? %>
          <%= video_tag @post.video_url, :controls => true, class: "video" %>
        <% else %>
          <img src="/assets/images/default_video.png" class="video-img">
          <p class="img-text video-text">動画は未設定です</p>
        <% end %>
      </div>
      
    </div>

  <% if current_user.id == @post.user_id %>
    <%= link_to  edit_post_path, class: "btn-edit w-100" do %>
      <i class="fas fa-pencil-alt"></i>&nbsp<%= t(".update") %>
    <% end %>
  <% end %>
</div>

<hr>
<div class="d-flex justify-content-center">
  <%= link_to new_post_comment_path(@post), class:"comment-index-btn-left btn-back" do %>
    <i class="far fa-comment-dots"></i>コメントする
  <% end %>
  <%= link_to post_comments_path(@post), class:"comment-index-btn-right btn-back" do %>
    <i class="far fa-comments"></i>&nbsp<%= "一覧（#{@comments_all.count}）" %>
  <% end %>
</div>