<h3>レシピ詳細</h3>
<div class="recipe-base mx-auto">
  <div class="title-area">
    <div class="recipe-title">
      <p><%= @post.title %></p>
    </div>
    <div class="show-like-btn">
      <a href="#" class="btn btn-primary">お気に入り登録</a>
    </div>
  </div>
  <div class="show-head">
    <div class="show-top-left">
      <img src="<%= @post.image_url %>" class="show-img">
    </div>
    <div class="show-head-right">
      <div>
        <span class="caption">分類：</span><span><%= @post.genre_i18n %></span>
      </div>
      <div>
        <span class="caption">投稿者：</span><span><%= @post.user.name %></span>
      </div>
      <div class="material">
        <span class="caption">使用する材料：</span>
        <p><%= simple_format(@post.material) %></p>
      </div>
    </div>
  </div>
  <div class="show-recipe">
    <span class="caption">作り方：</span>
    <p><%= simple_format(@post.recipe) %></p>
  </div>
  <div class="show-video">
    <span class="caption">作り方動画：</span>
    <p><%= @post.video %></p>
  </div>
</div>
<hr>
<p>
<%= link_to "この記事にコメントする", new_post_comment_path(@post) %>
<%= link_to  "投稿されたコメントを見る", post_comments_path(@post) %>
</p>