<div class="fixed-top">
  <nav class="navbar navbar-expand-sm bg-white navbar-light pt-0 pb-0 px-0 navbar-top">
  <%= link_to image_tag("logo.png", class: "navbar-brand logo-link py-0"), posts_path %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="flex-column w-100">
      <div class="collapse navbar-collapse px-3" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown d-flex align-items-center mr-3">
              <i class="far fa-list-alt"></i><a class="nav-link dropdown-toggle text-body" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                レシピ一覧
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to posts_path, class:"index-link" do%><div class="dropdown-item">全レシピ</div><% end %>
                <%= link_to posts_path(genre: "invisible"), class:"index-link" do %><div class="dropdown-item">&nbsp;分類未設定</div><% end %>
                <%= link_to posts_path(genre: "appetizer"), class:"index-link" do %><div class="dropdown-item">&nbsp;前菜/温菜</div><% end %>
                <%= link_to posts_path(genre: "main"), class:"index-link" do %><div class="dropdown-item">&nbsp;メイン/パスタなど</div><% end %>
                <%= link_to posts_path(genre: "dessert"), class:"index-link" do %><div class="dropdown-item">&nbsp;デザート</div><% end %>
                <%= link_to posts_path(genre: "drink"), class:"index-link" do %><div class="dropdown-item">&nbsp;ドリンク</div><% end %>
              </div>
            </li>

            <li class="nav-item active d-flex align-items-center mr-3">
              <i class="fas fa-user"></i><%= link_to "アカウント編集", edit_user_registration_path, class: "nav-link active" %>
            </li>

            <li class="nav-item active  d-flex align-items-center mr-3">
              <i class="fas fa-sign-out-alt"></i><%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class: "nav-link active" %>
            </li>

          <% else %>
            <li class="nav-item active d-flex align-items-center mr-3">
              <i class="fas fa-user-edit"></i><%= link_to "新規ユーザー登録", new_user_registration_path, class: "nav-link active" %>
            </li>
            <li class="nav-item active d-flex align-items-center mr-3">
              <i class="fas fa-sign-in-alt"></i><%= link_to "ログイン", new_user_session_path, class: "nav-link active" %>
            </li>
            <li class="nav-item active d-flex align-items-center mr-3">
              <i class="far fa-address-card"></i><%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-link active" %>
            </li>
            <li class="nav-item active  d-flex align-items-center mr-3">
              <i class="fas fa-chalkboard"></i><%= link_to "TOPへ", pages_top_path, class: "nav-link active" %>
            </li>
          <% end %>
        </ul>
      </div>
      
      <div class="text-center">
        <%= render "layouts/flash" %>
      </div>
    </div>
  </nav>
</div>