<div class="container-fluid logo-search">
  <div class="row">
    <div class="d-flex col-lg-7">
      <div class="row d-flex align-items-center">
        <div class="d-flex align-items-center col-sm-5">
          <a class="logo_link" href="#">
            <%= image_tag("logo.png", size: "100x100") %>
          </a>
          <div class="text-center">
            <p class="app-sub mb-0">レシピ共有アプリ</p>
            <p class="app-name mb-0">Resiper</p>
          </div>
        </div>

        <div class="px-3 my-2 col-sm-7">
          <%= search_form_for @q do |f| %>
            <div class="row">
              <div class="pr-0 col-9">
                <%= f.search_field :title_or_user_name_or_material_cont, placeholder: "キーワード検索", class: "form-control" %>
              </div>
              <div class="col-3">
                <%= f.submit "検索", class:"btn btn-outline-success" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center col-lg-5">
      <div class="w-100 col-sm-6 p-0 mr-1">
        <%= link_to "＠新規投稿", new_post_path, class:"show-btn text-white w-100" %>
      </div>

      <div class="w-100 col-sm-6 p-0 ml-1">
        <%= link_to "＠Myフォルダ", posts_list_path, class:"like-btn text-white w-100" %>
      </div>
    </div>
  </div>
</div>